# Глобальные настройки
global
    maxconn 4096

# Настройки по умолчанию
defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

# Frontend: принимает запросы от клиентов
frontend http_front
    bind *:80
    # ACL для запросов Certbot
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    # Перенаправление всех остальных запросов на HTTPS
    redirect scheme https code 301 if !letsencrypt-acl
    # Backend для Certbot
    use_backend letsencrypt-backend if letsencrypt-acl

frontend https_front
    bind *:443 ssl crt /etc/haproxy/certs/
    acl host_site1 hdr(host) -i nero-dozzle.duckdns.org      # ACL для site1.com
    acl host_site2 hdr(host) -i nero-supabase.duckdns.org    # ACL для site2.com
    acl host_site3 hdr(host) -i nero-n8n.duckdns.org         # ACL для site3.com
    acl host_site4 hdr(host) -i nero-flowise.duckdns.org     # ACL для site4.com

    use_backend dozzle if host_site1  # Перенаправление на backend 1
    use_backend supabase if host_site2  # Перенаправление на backend 2
    use_backend n8n if host_site3  # Перенаправление на backend 3
    use_backend flowise if host_site4  # Перенаправление на backend 4

    default_backend backend_default           # Если домен не совпадает ни с одним

# Backend для каждого домена
backend letsencrypt-backend
    server certbot 127.0.0.1:1111  # Certbot слушает на порту 8888

backend dozzle
    server server12:8088 192.168.4.117:8088 check

backend supabase
    server server12:8000 192.168.4.117:8000 check

backend n8n
    server server12:5678 192.168.4.117:5678 check

backend flowise
    server server12:3000 192.168.4.117:3000 check

# Резервный backend
backend backend_default
    errorfile 503 /etc/haproxy/errors/503.http

listen stats
    bind *:8404          # Укажите порт для страницы статистики
    stats enable
    stats uri /stats      # Укажите URL для страницы статистики (например, /stats)
    stats realm HAProxy\ Statistics  # Настройте имя области аутентификации
    stats auth admin:password  # Укажите логин и пароль (замените на свои)
    stats admin if TRUE        # Дает возможность управлять сервером через страницу статистики
    stats refresh 60
